@font-face {
    font-family: "RobotoBlack";
    src: url(../font/Roboto-Black.ttf);
}

@font-face {
    font-family: "RobotoRegular";
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(../font/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "RobotoLight";
    list-style-type: none;
    text-decoration: none;
}

section > :first-child {
    text-align: center;
    margin: 3vh 30vw;
}

.titre p {
    margin-bottom: 3vh;
}

a {
    transition: all 0.2s ease-in;
}

.btn {
    color: rgb(255, 70, 118);
    border: 1px solid rgb(255, 70, 118);
    border-radius: 4px;
    padding: 6px 15px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    color: white;
    background-color: rgb(255, 70, 118);
}

#btnPrincipal {
    background-color: rgb(255, 70, 118);
    color: white;
}

#btnPrincipal:hover {
    color: rgb(255, 70, 118);
    background-color: white;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    margin-bottom: 2vh;
    font-family: "RobotoMedium";
}

h1 {
    font-family: "RobotoBlack";
    text-shadow: 0rem 0.1rem 0.2rem rgb(110, 110, 110);
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-family: "RobotoMedium";
    font-size: 0.9rem;
}

li, p {
    font-size: 0.8rem;
}

.separator {
    text-align: center;
    margin: 5vh;
}

/* DEBUT HEADER  */

header {
    display: flex;
    justify-content: space-between;
    margin: 0vh 1vw 0vh 4vw;
}

header img {
    height: 8vh;
}

nav {
    padding: 3vh 0;
    margin-right: 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul :not(:first-child) {
    border-left: 1px solid black;
}

nav ul li {
    text-transform: uppercase;
    padding: 0 2vw;
    font-size: 0.7rem;
}

li a:hover {
    color: rgb(98, 224, 209);
}
/* FIN HEADER  */
/* DEBUT SECTION 1 */

#section1 {
    height: 55vh;
    background-image: url(../images/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* FIN SECTION 1 */
/* DEBUT SECTION 2 */

#section2 .container {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

#section2 .imgContainer {
    display: flex;

    width: 50%;
    height: 100%;
    margin-left: 10vw;
    padding-right: 5vw;
}

#section1 .imgContainer img {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

#section2 .container p {
    font-family: "RobotoBold";
    margin: 2vh 0;
}

#section2 .content {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-right: 5vw;
}
/* FIN SECTION 2 */
/* DEBUT SECTION 3 */

.bloc {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    text-align: center;
    gap: 5vw;
    margin: 5vh 18vw;
}

.bloc img {
    margin-bottom: 2vh;
    width: 80px;
    height: 62px;
    background-position: center;
    background-size: cover;
}

.bloc div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc div p + p {
    font-size: 0.6rem;
    font-style: italic
}
/* FIN SECTION 3 */
/* DEBUT SECTION 4 */

#section4 .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    margin-top: 10vh;
}

#section4 .container .content {
    padding: 0;
}

#section4 .container .content p {
    margin: 6vh 0vw 3vh 0vw;
    font-size: 1rem;
    font-family: "RobotoRegular";
    line-height: 5vh;
    height: 15vh;
}

#section4 .container .content .contentTitle {
    position: relative;
}

#section4 .container .content .contentTitle div{
    height: 14px;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -5%;
} 

#section4 .container .content .contentTitle #underline1 {
    background-color: rgb(132, 214, 235);
}

#section4 .container .content .contentTitle #underline2 {
    background-color: rgb(255, 225, 122);
}

#section4 .container .content .contentTitle #underline3 {
    background-color: rgb(205, 132, 235);
}
/* FIN SECTION 4 */
/* DEBUT SECTION 5 */

#section5 .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#section5 .container .card {
    margin: 5vh;
    width: 15vw;
    border: 1px solid rgb(98, 224, 209);
    padding: 1vh 2vw;
}

#section5 .container .card .name {
    font-family: "RobotoMedium";
    text-transform: uppercase;
    margin-bottom: 1vh;
    font-size: 0.95rem;
}

#section5 .container .card .job {
    font-size: 0.8rem;
    margin-bottom: 3vh;
}

#section5 .container .card .text {
    font-size: 0.65rem;
    margin-bottom: 1vh;
}

#section5 .container .card img {
    transform: translateY(-50%);
    border: 20px solid white;
    margin-bottom: -5vh;
}

/* FIN SECTION 5 */
/* DEBUT SECTION 6 */

.imageBlog {
    width: 400px;
    height: 100%;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
}

.imageBlog img {
    height: 100%;

    background-size: cover;
    object-fit: cover;
}

#section6  .container article {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 80vw;
    margin: 8vh 5vw;
}

#section6 .container p {
    margin-bottom: 30px;
}

.content {
    padding-left: 195px;
}

.content .btn {
    padding: 6px 50px;
}

.lineSeparator {
    height: 1px;
    background-color: rgb(98, 224, 209);
}

/* FIN SECTION 6 */
/* DEBUT FOOTER  */

footer {
    background-color: rgb(226, 226, 226);
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footerLogo {
    padding-left: 3%;
}

footer img { 
    padding-right: 30px;
    border-right: 1px solid black;
}

.footerContact {
    padding-left: 30px;
}

.footerContact :nth-child(2n) {
    padding-bottom: 10px;
}

.footerContact p, a{
    font-size: 0.7rem;
    color: black;
}

.footerContact a:hover {
    color: rgb(255, 70, 118);
}

.footerMenu {
    padding-bottom: 30px;
}

.footerMenu ul {
    display: flex;
    justify-content: center;
}

.footerMenu ul li{
    padding: 0 15px;
    color: black;
    font-size: 0.7rem;

}

.footerMenu ul :not(:first-child) {
    border-left: 1px solid black;
}

.footerMenu ul :first-child:hover {
    color: rgb(255, 70, 118);
}
/* FIN FOOTER  */