@font-face {
    font-family: "RobotoBlack";
    src: url(../font/Roboto-Black.ttf);
}

@font-face {
    font-family: "RobotoRegular";
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../font/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "RobotoRegular";
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.btn {
    background-color: rgb(255, 70, 118);
    color: white;
    border-radius: 2px;
    padding: 1.3vh 1vw;
    font-size: 0.7rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 2vh 0 1vh 0;
    font-family: "RobotoBold";
}

/* DEBUT HEADER  */

header {
    display: flex;
    justify-content: space-between;
    margin: 0vh 1vw 0vh 4vw;
}

header img {
    height: 8vh;
}

nav {
    padding: 3vh 0;
    margin-right: 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul :not(:first-child) {
    border-left: 1px solid black;
}

nav ul li {
    text-transform: uppercase;
    padding: 0 2vw;
    font-size: 0.7rem;
}

li a:hover {
    color: rgb(98, 224, 209);
}
/* FIN HEADER  */
/* DEBUT SECTION 1 */

#section1 {
    height: 60vh;
    background-image: url(../images/photo-1556139943-4bdca53adf1e\ 1.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#section1 h1 {
    font-family: "RobotoBlack";
    text-transform: uppercase;
    padding: 3vh;
    text-shadow: 0rem 0.1rem 0.2rem rgb(155, 155, 155);
    font-size: 2.8rem;
}
/* FIN SECTION 1 */
/* DEBUT SECTION 2 */

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre p {
    font-size: 0.75rem;
    text-align: center;
}

#section2 .bloc {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.bloc img {
    width: 35vw;
    height: 40vh;
    margin: 5vw;
    object-fit: cover;
}

.content {
    margin: 5vw;
    font-size: 1rem;
}

.content p {
    margin-bottom: 3vh;
    font-family: "RobotoBold";
}

.content ul {
    margin-bottom: 4vh;
}